{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form id="login_form" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Log in</button>
    <a href="{% url 'signup' %}">New to My Site? Sign up</a>
  </form>

{% endblock %}
{% block extra_scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
{#    <script>#}
{#      // 3#}
{#      grecaptcha.ready(function() {#}
{#          // 4#}
{#          $('#login_form').submit(function(e){#}
{#              var form = this;#}
{#              // 5#}
{#              e.preventDefault()#}
{#              grecaptcha.execute({{ site_key }}, {action: 'login_form'}).then(function(token) {#}
                  {#// 6#}
                  {#$('#recaptcha').val(token)#}
                  {#// 7#}
                  {#form.submit()#}
{#                  document.getElementById("login_form").appendChild(document.CreateElement(`<input type="hidden" name="g-recaptcha-response" value=${token}`);#}
{#              });#}
{#          })#}
{#      });#}
{#     </script>#}
    <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ site_key }}', {action: 'login_form'})
        .then(function(token) {
            let input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "g-recaptcha-response");
            input.setAttribute("value", `${token}`);
            document.getElementById("login_form").appendChild(input);
        });
    });
</script>
{% endblock %}