{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}

<h1> Privacy statement SecureSite </h1>

    <h2> 1. General </h2>

<p> Your personal data is very important to us. We therefore make it a point to protect them. When using your personal data, we take into account the rights you have under the law. </p>

<p> The Privacy Statement explains how we collect, store and use your personal data. When you are directed to another website or application, the privacy statement of that other website or application applies. </p>

<p> This site https://securesite.azurewebsites.net is responsible for the information we collect. </p>

<p> The site above can use your personal data for the basic working of the site. Other recipients of information, more specific for login and sign up is Google to scan for security threats.</p>

    <p>Cookies are only used for the basic working of this site.</p>

<h2> 2. What personal data do we collect and use? </h2>

<p> You have provided us with the personal information that we use. For example, when you have created a profile online and you give us your name, first name and email.</p>

<h2> 3. Why and on what basis do we collect your personal data? </h2>
<p> We base the processing of your personal data on the following legal grounds: </p>
<ul>
<li> Performance of a contract: we need this information to be able to offer our services. </li>
<li> Legal obligation: We must process and maintain some data in order to comply with other applicable laws. </li>
<li> Consent: we have obtained your explicit consent for the processing of this data. </li>
</ul>

<p> Profile information is also important to us to prevent or detect abuse and fraud. </p>
<p> The following legal grounds apply here: legitimate interest and legal obligation. </p>

<h2> 4. Who has access to your personal data? </h2>


<p> Only persons who need your data for the performance of their duties have access to your personal data. </p>

<h2> 5. Where do we store your personal data? </h2>

<p> We store data within the European Economic Area. More specifically on the servers of EhB </p>

<h2> 6. How long do we keep your personal data? </h2>

<p> Forever or until you ask to delete it </p>

<h2> 7. How do we protect your personal data? </h2>

<p> We ourselves store your personal data on well-secured and controlled computers. Despite all our efforts in this area, however, we can never fully guarantee the security and protection of your personal data. </p>

<h2> 8. What are your rights as a User? </h2>

<p> When using it, we take into account the rights you have under the law. That is why we list them all below. You can contact us via the contact details you will find at the bottom of this Privacy Statement to exercise these rights. </p>

    <h3> You can view your data and request a copy </h3>

  <p> You can request an overview of the personal data we keep about you. You can request this overview by logging in with your username. Go to "Profile" and request your overview with the "download info button". </p>

  <h3> You can correct your data </h3>

    <p> You can have incorrect data corrected and data that is no longer relevant also removed. You can also do this easily via your online profile. </p>

  <h3> You can have your data forwarded to a third party </h3>

    <p> You can ask to transfer the data that you have given us yourself to you in a machine-readable format. </p>

  <h3> You can request that we delete your data </h3>

    <p> You can exercise this right by deleting your profile. We cannot undo the deletion of your personal data. </p>

  <h3> Complaints about the handling of your personal data? </h3>

<p> Do you have complaints about how we handle your personal data? Then contact our Data Protection Officer (DPO) at fairplaydesign@hotmail.com. If he cannot help you enough, you can always contact the Belgian Data Protection Authority and file a complaint there. </p>


<h2> 9. How can you contact us? </h2>

<p> Do you have any questions or would you like more information about how we handle your personal data? Then contact our Data Protection Officer (DPO). This can be done via an email to the email address fairplaydesign@hotmail.com </p>

<h2> 10. Changes to this Privacy Statement </h2>

<p> Our services are constantly growing and evolving in order to continue to offer you the best possible service. That is why we will regularly update this Privacy Statement so that it always correctly explains how we handle your personal data. While we will do our best to notify you of changes, we still recommend that you regularly review this Privacy Statement. After all, it is your own responsibility to follow up on changes. </p>

<p> This privacy statement was last modified on 04/01/2021. </p>
    <br/>
    <br/>
    <br/>
{% endblock %}