{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block header_content %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    {% load static %}
    <script src="{% static 'website/js/captcha.js' %}"></script>

{% endblock %}
{% block content %}
<h1>Profile Page</h1>
  <form id="form" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p class="error_red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small>{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Update</button>
    <a href="{% url 'signup' %}">Delete Profile</a>
  </form>

{% endblock %}