{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile Page</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="mb-3 row">
        <label for="first_name" class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="first_name" value="{{user.first_name}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="last_name" class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="last_name" value="{{user.last_name}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
        </div>
    </div>
    <div class="row">
        <a href="{% url 'edit_profile' user.id %}" class="btn btn-primary button-padding" role="button">Edit Profile</a>
        <a href="{% url 'download_info' %}" class="btn btn-warning button-primary" role="button">Download Info</a>
        <a href="{% url 'change_password' %}" class="btn btn-warning button-padding" role="button">Change Password</a>
        <a href="{% url 'delete_profile' %}" class="btn btn-danger button-padding" role="button">Delete Profile</a>
    </div>
{% endblock %}