{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}
  <h2>Sign up</h2>
  <form method="post" id="signup_form">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
{% block extra_scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ site_key }}', {action: 'signup_form'})
        .then(function(token) {
            let input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "g-recaptcha-response");
            input.setAttribute("value", `${token}`);
            document.getElementById("signup_form").appendChild(input);
        });
    });
</script>
{% endblock %}