{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <h1>Welcome to the meeting planner</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>
        Project for Software Security
    </p>
{#    <img src="{% static 'website/calendar.png' %}" width="100px">#}
    <h2>Meetings</h2>
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Start time</th>
      <th scope="col">Duration</th>
      <th scope="col">Room</th>
      <th scope="col">Planned by</th>
        {% if user.username %}
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
        {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for meeting in meetings %}
      <tr>
      <td>{{ meeting.title }}</td>
      <td>{{ meeting.date }}</td>
      <td>{{ meeting.start_time }}</td>
      <td>{{ meeting.duration }}</td>
      <td>{{ meeting.room }}</td>
      <td>{{ meeting.user.first_name  }} {{ meeting.user.last_name }}</td>
      {% if user.username %}
        <td>
            {% if user == meeting.user %}
                <a href="{% url 'edit' meeting.id %}" class="btn btn-success" role="button">Edit</a>
            {% endif %}
        </td>
        <td>
          {% if user == meeting.user %}
              <a href="{% url 'delete' meeting.id %}" class="btn btn-danger" role="button">Delete</a>
          {% endif %}
        </td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
